# Data Exploration

In [1]:
import pandas as pd

In [2]:
# at least 3.7GB of free Memory required to read the below datasets (above 4GB recommended)
title_df = pd.read_csv(r"..\datasets\title.basics.tsv", delimiter="\t")
principal_df = pd.read_csv(r"..\datasets\title.principals.tsv", delimiter="\t")
ratings_df = pd.read_csv(r"..\datasets\title.ratings.tsv", delimiter="\t")
principal_basics_df = pd.read_csv(r"..\datasets\name.basics.tsv", delimiter="\t")

C:\Users\Dominik\AppData\Local\Temp\ipykernel_28200\1059471794.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_df = pd.read_csv(r"..\datasets\title.basics.tsv", delimiter="\t")

In [5]:
print(f"Size of titles: {title_df.shape[0]:,}")
print(f"Size of ratings: {ratings_df.shape[0]:,}")
print(f"Size of principals: {principal_df.shape[0]:,}")
print(f"Size of principal basics: {principal_basics_df.shape[0]:,}")

Size of titles: 9,533,824
Size of ratings: 1,267,778
Size of principals: 54,126,469
Size of principal basics: 12,232,530

In [9]:
principal_df.category.unique()

array(['self', 'director', 'cinematographer', 'composer', 'producer',
       'editor', 'actor', 'actress', 'writer', 'production_designer',
       'archive_footage', 'archive_sound'], dtype=object)

In [11]:
title_df.titleType.unique()

array(['short', 'movie', 'tvSeries', 'tvShort', 'tvMovie', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

## Missing Values

In [13]:
title_df.isnull().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [26]:
ratings_df.tconst.nunique()

1267778

In [24]:
principal_basics_df.sample(3)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
797182,nm0846485,Sophie-Véronique Toué Tagbé,\N,\N,actress,tt0106820
11630124,nm9275606,Amanda Egbu,\N,\N,"assistant_director,miscellaneous",tt7369828
11621969,nm9265325,Shuvankar Das,\N,\N,"actor,miscellaneous",tt7360512

In [14]:
principal_df.sample(3)

              tconst  ordering      nconst category job       characters
27170840  tt17493988         2  nm12706233  actress  \N     ["Gorochan"]
44849540   tt6506330         1   nm4087189    actor  \N  ["Schwarzmann"]
44828387   tt6497482         4   nm0032955    actor  \N               \N

In [16]:
temp_df = principal_df[principal_df.nconst == "nm12706233"]

In [23]:
temp_df

              tconst  ordering      nconst category job    characters
22392344  tt14934206         2  nm12706233  actress  \N            \N
24213039  tt15558090         2  nm12706233  actress  \N  ["Gorochan"]
24214631  tt15558928         2  nm12706233  actress  \N  ["Gorochan"]
24214634  tt15558930         2  nm12706233  actress  \N  ["Gorochan"]
24214638  tt15558932         2  nm12706233  actress  \N  ["Gorochan"]
...              ...       ...         ...      ...  ..           ...
29560710  tt19720338         2  nm12706233  actress  \N  ["Gorochan"]
29560714  tt19720340         2  nm12706233  actress  \N  ["Gorochan"]
29560718  tt19720342         2  nm12706233  actress  \N  ["Gorochan"]
29560722  tt19720344         2  nm12706233  actress  \N  ["Gorochan"]
29560726  tt19720346         2  nm12706233  actress  \N  ["Gorochan"]

[835 rows x 6 columns]